<!--
  You might notice this file isn't minimized. In fact, it's not processed in any
  way. I started writing code for the web in the late 90s, when viewing source
  was often the only way to dive into the minds of people who built something
  that made us ask "how!?". It was an exciting time of discovery, spelunking,
  and possibilities. In the years since, compilers and SPAs have taken the web
  amazing places... but on this site and with my time I'd like to recapture some
  of that old wonder. No build process, no dependencies, just code and comments
  typed into an HTML file for anyone that cares to look.
-->
